.team-select:hover {
  background-color: #f9c3d4;
  color: white;
  border-color: #f9c3d4;
  box-shadow: 0 4px 6px rgba(249, 195, 212, 0.3);
}

.team-select:active {
  background-color: #f48bad;
  border-color: #f48bad;
  color: white;
  box-shadow: 0 2px 4px rgba(244, 139, 173, 0.2);
}
