.task-types-list {
    padding: 20px;
  }
  
  .task-types-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-types-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .start-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  
  .start-btn i {
    margin-right: 5px;
  }
  
  .start-btn:hover {
    background-color: #45a049;
  }
  